@import "~highlight.js/styles/darcula.css";
@import "~quill/dist/quill.snow.css";
@import "glyphicons";
@import "katex.css";
@import "fn";

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size: 12px;
}

// 亲密性, 横向和纵向的距离, 参考: https://ant.design/docs/spec/proximity-cn
.hui-hspace {
  margin-right: 5px;
}

.hui-vspace {
  margin-bottom: 5px;
}

.hui-hskip {
  margin-right: 8px;
}

.hui-hskipp {
  margin-right: 16px;
}

.hui-vskip {
  margin-bottom: 8px !important;
}

.hui-vskipp {
  margin-bottom: 16px !important;
}

.hui-mask {
  color: white;
  background-color: black;
  .opacity(.70);
}

// 盒子
.hui-fixed-box {
  position: relative;
  .hui-fixed-top, .hui-fixed-right-top, .hui-fixed-left-bottom, .hui-fixed-bottom, .hui-fixed-left-top, .hui-fixed-right-bottom {
    position: absolute;
    padding: 8px;
  }
  .hui-fixed-top {
    top: 0;
    left: 0;
    right: 0;
  }
  .hui-fixed-left-top {
    top: 0;
    left: 0;
  }
  .hui-fixed-right-top {
    top: 0;
    right: 0;
  }
  .hui-fixed-bottom {
    bottom: 0;
    left: 0;
    right: 0;
  }
  .hui-fixed-left-bottom {
    bottom: 0;
    left: 0;
  }
  .hui-fixed-right-bottom {
    bottom: 0;
    right: 0;
  }
}

.hui-flex-box {
  display: flex;
}

.hui-flex-fill {
  flex: 1;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline {
  .list-unstyled();
  margin-top: 0;
  margin-bottom: 0;

  > li {
    display: inline-block;
  }

  > li + li {
    margin-left: 8px;
  }

  &.separated {
    li + li:before {
      margin-right: 5px;
      color: gray;
    }
  }

  &.by-vbar li + li:before {
    content: "|";
  }
  &.by-slash li + li:before {
    content: "/";
  }
  &.by-gt li + li:before {
    content: ">";
  }
  &.by-middot li + li:before {
    content: "\00b7";
  }
}

/* 属性 -webkit-box-orient 会被过滤掉, 处理方法: https://github.com/cssnano/cssnano/issues/357 */
/* 实现单行、多行文本溢出显示省略号, 参考: http://www.daqianduan.com/6179.html */
.nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nowrap2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.nowrap3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.nowrap4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.nowrap5 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}
