snippet tip-sp
	:::tip
	${1:content}
	:::

snippet warning-sp
	:::warning
	${1:content}
	:::

snippet danger-sp
	:::danger
	${1:content}
	:::

snippet theorem-sp
	:::theorem ${1:title}
	${2:content}
	:::

snippet code-sp
	```${1:text}
	${2:code_snippet}
	```

snippet code-short-sp
	```
	${1:code_snippet}
	```
